/* Define custom variables */
:root {
    --primaryColor: darkcyan;
    --secondaryColor:#262829;
    --alternativeColor: rgb(12, 46, 110);
    --redColor: rgb(102, 11, 11);
    /* none | h-offset (X) v-offset (Y) blur spread color |inset|initial|inherit*/
    --mainBoxShadow: .3vw .3vw 1vw rgba(120, 200, 87, 11);
}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--redColor);
}
