<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/style.css">
    <title>Home</title>
</head>
<body>
    <center>
        <h2>Route Description</h2>
    <table>
        <tr>
            <th>Method</th>
            <th>Path</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>FetchProducts</td>
            <td>/products</td>
            <td>Get All Products</td>
        </tr>
        <tr>
            <td>FetchProduct</td>
            <td>/products/:id</td>
            <td>Get Single Product</td>
        </tr>
        <tr>
            <td>AddProduct</td>
            <td>/products</td>
            <td>Post A Product</td>
        </tr>
        <tr>
            <td>UpdateProduct</td>
            <td>/products/:id</td>
            <td>Put a Product</td>
        </tr>
        <tr>
            <td>DeleteProduct</td>
            <td>/products/:id</td>
            <td>Delete a Product</td>
        </tr>
    </table>
    </center>
</body>
</html>